.header {
    margin: 0;
    display: flex;
    max-width: 1300px;
    align-items: center;
    padding: 34px 117px 34px 40px;
    justify-content: space-between;

    &__left-list {
        margin: 0;
        padding: 0;
        display: flex;
        align-items: center;
        position: relative;
        flex-direction: column;
    }

    &__left-item {
        margin: 0;
        padding: 0;
        display: flex;
        margin-bottom: 23px;
        align-items: center;
    }

    &__left-text {
        margin: 0;
        padding: 0;
        font-size: 14px;
        color: #000000;
        line-height: 16px;
        margin-right: 48px;
        font-style: normal;
        font-weight: normal;
        font-family: $project-font, sans-serif;
    }

    &__tel-num {
        margin: 0;
        padding: 0;
        font-size: 14px;
        font-weight: 500;
        color: #333333;
        line-height: 18px;
        font-style: normal;
        margin-right: 22px;
        text-decoration: none;
        position: relative;
        font-family: "Futura";

        &::before {
            content: "";
            top: 0;
            right: 0;
            bottom: 0;
            left: -27px;
            position: absolute;
            background-repeat: no-repeat;
            background-position: left center;
            background-image: url("/images/tel.svg");
        }
    }

    &__tel-numb {
        margin: 0;
        padding: 0;
        font-size: 14px;
        font-weight: 500;
        color: #333333;
        line-height: 18px;
        font-style: normal;
        margin-right: 22px;
        position: relative;
        font-family: "Futura";
        text-decoration: none;

        &::before {
            content: "";
            top: 0;
            right: 0;
            bottom: 0;
            left: -13px;
            position: absolute;
            background-repeat: no-repeat;
            background-position: left center;
            background-image: url("/images/circle.svg");
        }
    }

    &__tel-number {
        margin: 0;
        padding: 0;
        font-size: 14px;
        font-weight: 500;
        color: #333333;
        line-height: 18px;
        font-style: normal;
        margin-right: 22px;
        position: relative;
        font-family: "Futura";
        text-decoration: none;

        &::before {
            content: "";
            top: 0;
            right: 0;
            bottom: 0;
            left: -13px;
            position: absolute;
            background-repeat: no-repeat;
            background-position: left center;
            background-image: url("/images/circle.svg");
        }
    }

    &__tel-num-h {
        color: #ffbd54;
    }

    &__tel-num-b {
        color: #333333;
        opacity: 0.6;
    }

    &__right-list {
        display: flex;
        align-items: center;
        margin: 0;
        padding: 0;
        list-style-type: none;
    }

    &__right-item {
        margin: 0;
        padding: 0;
        display: flex;
        margin-left: 49.45px;
        flex-direction: column;
    }

    &__right-text {
        font-size: 16px;
        color: #000000;
        line-height: 19px;
        text-align: center;
        font-style: normal;
        font-weight: normal;
        font-family: $project-font, sans-serif;
    }

    &__animals {
        width: 177.55px;
        height: 86.23px;
    }
}